*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(to bottom right,#FDC639,#FF7C60) ;
 }
 
.calendar_container{
  width:300px;
  height:300px;
  background:whitesmoke;
  text-align:center;
  display:flex;
  flex-direction:column;
  gap:15px;
  border-radius:5px;
  overflow:hidden;
  box-shadow:3px 4px 15px rgba(0,0,0,0.8);
  position:relative;

  
} 
#currentYear{
  background:blueviolet;
  height:55px;
  color:white;
  font-weight:800;
  font-family:cursive;
  font-size:4rem;
  
}
#currentMonth{
  font-size:3rem;
  color:darkgrey;
  font-weight:600;
  font-family:times Georgia, 'Times New Roman', Times, serif;
 position: absolute;
 left:50%;
 transform: translateX(-50%);
 top:16%;
}
#currentDay{
   font-size:1.5rem;
   color:black;
   font-weight:300;
     font-family:times Georgia, 'Times New Roman', Times, serif;
     margin-top:40px;
}
#currentDate{
  font-weight:bolder;
    font-family:times Georgia, 'Times New Roman', Times, serif;
    font-size:6rem;

}